body {
    align-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
}


nav a {
    color: white !important; 
}

.quienes-somos i {
    color: white;
}


footer div a {
    color: white;
}